@tailwind base;
@tailwind components;
@tailwind utilities;

/* ~//// Global Styles ////~ */

/* ~//// Fonts ////~ */

body {
  font-family: 'Avenir', sans-serif;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
  scrollbar-width: thin;
}


/* ~//// Scroll Bar Theme ////~ */

::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

/* ~//// Gradient ////~ */


.gradient {
  background-color: rgb(37, 99, 235);
  background-image: radial-gradient(at 86% 20%, rgb(148, 163, 184) 0, transparent 76%), radial-gradient(at 54% 20%, rgb(77, 124, 15) 0, transparent 19%), radial-gradient(at 17% 39%, rgb(251, 207, 232) 0, transparent 31%), radial-gradient(at 12% 73%, rgb(110, 231, 183) 0, transparent 70%), radial-gradient(at 94% 84%, rgb(88, 28, 135) 0, transparent 83%), radial-gradient(at 21% 65%, rgb(76, 29, 149) 0, transparent 35%);
  background-size: 200% 200%;
  animation: gradient 5s linear infinite;
}

.gradient-dark {

  background-color: rgb(30, 41, 59);
  background-image: radial-gradient(at 29% 26%, rgb(20, 184, 166) 0, transparent 75%), radial-gradient(at 9% 82%, rgb(49, 46, 129) 0, transparent 94%), radial-gradient(at 20% 53%, rgb(8, 145, 178) 0, transparent 100%), radial-gradient(at 49% 37%, rgb(51, 65, 85) 0, transparent 35%), radial-gradient(at 2% 94%, rgb(71, 85, 105) 0, transparent 72%), radial-gradient(at 69% 66%, rgb(15, 23, 42) 0, transparent 89%);
  background-size: 200% 200%;
  animation: gradient-2 5s linear infinite;
}

@keyframes gradient {
  0% {
      background-size: 150% 150%;
  }
  50% {
      background-size: 200% 200%;
  }
  100% {
      background-size: 150% 150%;
  }
}

@keyframes gradient-2 {
  0% {
      background-size: 150% 150%;
  }
  50% {
      background-size: 200% 200%;
  }
  100% {
      background-size: 150% 150%;
  }
}
